* {
    margin: 0;
    padding: 0;

}


.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg,#016a8a,#1e1818);
    padding: 20px  50px;
    border-bottom: 4px solid rgba(21, 206, 206, 0.24);
}
.logo {
    display: flex;
    align-items: center;
    
    color: yellow;
    font-size: 25px;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;

}

.menu ul {
    display: flex;
    
    
}
.menu ul li {
    list-style: none;
    margin-right: 10px;
}
.menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.menu ul li a:hover {
    background: rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 5px 2px #04ffe7;
}


header {
    background-image: url(img/bg/08.jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.searchbox-icon {
    display: flex;
    justify-content: center;
    
}
.searchbox-icon input {
    width: 530px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px ;
}
.icon i{
    background: rgb(4, 191, 33);
    color: white;
    font-size: 25px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: -1px;
}




main {
    background:#02212b;
    padding: 30px 0 0 0;
}
.for-width {
    width: 1300px;
   
    margin: auto;
    color: white;
    padding: 50px 0;
}
.parent-for-lastest-video {
    display: flex;
    justify-content: space-between;

}

.lastest {
    font-weight: bold;
    font-size: 20px;
    color: #00f3ff;
}

.page {
    color: #00f3ff;
}
.page span {
    background: white;
    padding: 5px 5px;
    color: #02212b;
    margin: 0 4px ;
    border-radius: 4px;
    cursor: pointer;
}


                        /* img  */
.single-main-div {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    
} 
.single-item> img:hover {
    transform: scale(1.1);
}                

.single-item img{
    width: 300px;
    height: 300px;
    transition: 0.5s;
    border-radius: 10px;
    border: 2px solid gray;
}                    

.single-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: #a4a0a0;
}

.Previous-parents{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}

.Previous-parents a{
    text-decoration: none;
    color: rgb(0, 238, 255);
    padding: 0 5px;

}
.Previous-parents h3 {
    background: #aa3a03;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    color:  rgb(0, 238, 255);
}
.Previous-parents h3:hover {
     background: #aa3a03a1;

}
.anchod-mid a{
    background: white;
    color: black;
    padding: 5px 7px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.5s;
}
.anchod-mid a:hover {
    background: #02ffff;
    
    color: #aa3a03;
    
}