@font-face {
    font-family: shanto;
    src: url(../font/HennyPenny-Regular.ttf);
} 
    
* {
    margin: 0;
    padding: 0;
}
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg,#016a8a,#1e1818);
    padding: 20px  50px;
    border-bottom: 4px solid rgba(21, 206, 206, 0.24);
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: yellow;
    font-size: 25px;
}
.logo img {
    width: 50px;
    height: 50px;
    margin-right: 20px;

}

.menu ul {
    display: flex;
    
    
}
.menu ul li {
    list-style: none;
    margin-right: 10px;
}
.menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.menu ul li a:hover {
    background: rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 5px 2px #04ffe7;
}


                        /* blog */
.artical-area{
    width: 1000px;
    margin: 100px auto;
   
}
.artical-area > h2 {
    display: flex;
    margin: 50px 0;
    justify-content: center;
    font-family: shanto;
    font-size: 50px;
}

.artical-area .red {
    color: red;
}
.artical-area .blue {
    color: blue;
}
.artical-area .green {
    color: green;
    margin-top: 15px;
}
.artical-area .orange {
    color: #8b00ff;
}


.main-div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.single-div {
    box-shadow: 5px 5px 8px gray;
}

.single-img {
   
    height: 400px;
}
.single-img img {
    width: 100%;
    height: 100%;
}

.single-text{
    padding: 20px 10px;
}
.single-text h4 {
    padding-bottom: 20px;
    color: #069364;
}
.single-text h2 {
    font-size: 30px;
    padding-bottom: 20px;
}
.single-text a {
    text-decoration: none;
    color: #069364;
}
.single-text h3 {
    padding-top: 10px;

}